<!DOCTYPE html>
<html>
  <head>
    <title>SkyDrive</title>
    <link rel="stylesheet" href="/skyDrive/test.css" type="text/css">
    <link rel="stylesheet" href="/skyDrive/font-awesome/css/font-awesome.min.css">
  </head>
  <body>
    <h1>SkyDrive</h1>
    <table id="FileTable">
      <tr>
        <th class="FileName">文件名</th>
        <th class="FileCreateTime">文件创建时间</th>
        <th class="FileSize">文件大小</th>
      </tr>
      {{range $i, $e := .}}
        {{if eq .Even true}}
          <tr class="even">
        {{else}}
          <tr>
        {{end}}
          <td>
            {{if eq .Type 0}}
              <a href={{.Path}}><i class="fa fa-file" aria-hidden="true"></i>{{.Name}}</a>
            {{else}}
              <a href={{.Path}}><i class="fa fa-folder" aria-hidden="true"></i>{{.Name}}</a>
            {{end}}
          </td>
          <td>
            {{.Time}}
          </td>
          <td>
            {{.Size}}
          </td>
        </tr>
      {{end}}
    </table>
  </body>
</html>