<!DOCTYPE html>
<html>
  <head>
    <title>SkyDirver</title>
    <link rel="stylesheet" href="/skyDrive/test.css" type="text/css">
  </head>
  <body>
    <h1>SkyDirver</h1>
    <table id="FileTable">
      <tr>
        <th class="FileName">文件名</th>
        <th class="FileCreateTime">文件创建时间</th>
        <th class="FileSize">文件大小</th>
      </tr>
      {{range $i, $e := .}}
        {{if eq .Even true}}
          <tr class="even">
        {{else}}
          <tr>
        {{end}}
          <td>
            <a href={{.Path}}>{{.Name}}</a>
          </td>
          <td>
            {{.Time}}
          </td>
          <td>
            {{.Size}}
          </td>
        </tr>
      {{end}}
    </table>
  </body>
</html>