
<h1>48 issues</h1>
<table>
<tr style='text-align: left'>
	<th>#</th>
	<th>State<th>
	<th>User</th>
	<th>Title</th>
</tr>

<tr>
	<td><a href='https://github.com/golang/go/pull/33416'>33416</a></td>
	<td>open</td>
	<td><a href=''>bserdar</a></td>
	<td><a href='https://github.com/golang/go/pull/33416'>encoding/json: This CL adds Decoder.InternKeys</a></td>
</tr>

<tr>
	<td><a href='https://github.com/golang/go/issues/36225'>36225</a></td>
	<td>open</td>
	<td><a href=''>dsnet</a></td>
	<td><a href='https://github.com/golang/go/issues/36225'>encoding/json: the Decoder.Decode API lends itself to misuse</a></td>
</tr>

<tr>
	<td><a href='https://github.com/golang/go/pull/34647'>34647</a></td>
	<td>open</td>
	<td><a href=''>babolivier</a></td>
	<td><a href='https://github.com/golang/go/pull/34647'>encoding/json: fix byte counter increments when using decoder.Token()</a></td>
</tr>

<tr>
	<td><a href='https://github.com/golang/go/pull/37571'>37571</a></td>
	<td>open</td>
	<td><a href=''>codesoap</a></td>
	<td><a href='https://github.com/golang/go/pull/37571'>encoding/json: do not fill d.errorContext until deemed necessary</a></td>
</tr>

<tr>
	<td><a href='https://github.com/golang/go/issues/29035'>29035</a></td>
	<td>open</td>
	<td><a href=''>jaswdr</a></td>
	<td><a href='https://github.com/golang/go/issues/29035'>proposal: encoding/json: add error var to compare  the returned error when using json.Decoder.DisallowUnknownFields()</a></td>
</tr>

<tr>
	<td><a href='https://github.com/golang/go/issues/11046'>11046</a></td>
	<td>open</td>
	<td><a href=''>kurin</a></td>
	<td><a href='https://github.com/golang/go/issues/11046'>encoding/json: Decoder internally buffers full input</a></td>
</tr>

<tr>
	<td><a href='https://github.com/golang/go/issues/5901'>5901</a></td>
	<td>open</td>
	<td><a href=''>rsc</a></td>
	<td><a href='https://github.com/golang/go/issues/5901'>encoding/json: allow per-Encoder/per-Decoder registration of marshal/unmarshal functions</a></td>
</tr>

<tr>
	<td><a href='https://github.com/golang/go/issues/34543'>34543</a></td>
	<td>open</td>
	<td><a href=''>maxatome</a></td>
	<td><a href='https://github.com/golang/go/issues/34543'>encoding/json: Unmarshal &amp; json.(*Decoder).Token report different values for SyntaxError.Offset for the same input</a></td>
</tr>

<tr>
	<td><a href='https://github.com/golang/go/issues/32779'>32779</a></td>
	<td>open</td>
	<td><a href=''>rsc</a></td>
	<td><a href='https://github.com/golang/go/issues/32779'>proposal: encoding/json: memoize strings during decode?</a></td>
</tr>

<tr>
	<td><a href='https://github.com/golang/go/issues/28923'>28923</a></td>
	<td>open</td>
	<td><a href=''>mvdan</a></td>
	<td><a href='https://github.com/golang/go/issues/28923'>encoding/json: speed up the decoding scanner</a></td>
</tr>

<tr>
	<td><a href='https://github.com/golang/go/issues/12001'>12001</a></td>
	<td>open</td>
	<td><a href=''>lukescott</a></td>
	<td><a href='https://github.com/golang/go/issues/12001'>encoding/json: Marshaler/Unmarshaler not stream friendly</a></td>
</tr>

<tr>
	<td><a href='https://github.com/golang/go/issues/31701'>31701</a></td>
	<td>open</td>
	<td><a href=''>lr1980</a></td>
	<td><a href='https://github.com/golang/go/issues/31701'>encoding/json: second decode after error impossible</a></td>
</tr>

<tr>
	<td><a href='https://github.com/golang/go/issues/14750'>14750</a></td>
	<td>open</td>
	<td><a href=''>cyberphone</a></td>
	<td><a href='https://github.com/golang/go/issues/14750'>encoding/json: parser ignores the case of member names</a></td>
</tr>

<tr>
	<td><a href='https://github.com/golang/go/issues/34564'>34564</a></td>
	<td>open</td>
	<td><a href=''>mdempsky</a></td>
	<td><a href='https://github.com/golang/go/issues/34564'>go/internal/gcimporter: single source of truth for decoder logic</a></td>
</tr>

<tr>
	<td><a href='https://github.com/golang/go/issues/30301'>30301</a></td>
	<td>open</td>
	<td><a href=''>zelch</a></td>
	<td><a href='https://github.com/golang/go/issues/30301'>encoding/xml: option to treat unknown fields as an error</a></td>
</tr>

<tr>
	<td><a href='https://github.com/golang/go/issues/37083'>37083</a></td>
	<td>open</td>
	<td><a href=''>jpninanjohn</a></td>
	<td><a href='https://github.com/golang/go/issues/37083'>encoding/json: Encoder adds new line at the end of response which is different from how Marshal works </a></td>
</tr>

<tr>
	<td><a href='https://github.com/golang/go/issues/33854'>33854</a></td>
	<td>open</td>
	<td><a href=''>Qhesz</a></td>
	<td><a href='https://github.com/golang/go/issues/33854'>encoding/json: unmarshal option to treat omitted fields as null</a></td>
</tr>

<tr>
	<td><a href='https://github.com/golang/go/issues/26946'>26946</a></td>
	<td>open</td>
	<td><a href=''>deuill</a></td>
	<td><a href='https://github.com/golang/go/issues/26946'>encoding/json: clarify what happens when unmarshaling into a non-empty interface{}</a></td>
</tr>

<tr>
	<td><a href='https://github.com/golang/go/issues/16212'>16212</a></td>
	<td>open</td>
	<td><a href=''>josharian</a></td>
	<td><a href='https://github.com/golang/go/issues/16212'>encoding/json: do all reflect work before decoding</a></td>
</tr>

<tr>
	<td><a href='https://github.com/golang/go/issues/6647'>6647</a></td>
	<td>open</td>
	<td><a href=''>btracey</a></td>
	<td><a href='https://github.com/golang/go/issues/6647'>x/tools/cmd/godoc: display type kind of each named type</a></td>
</tr>

<tr>
	<td><a href='https://github.com/golang/go/issues/22480'>22480</a></td>
	<td>open</td>
	<td><a href=''>blixt</a></td>
	<td><a href='https://github.com/golang/go/issues/22480'>proposal: encoding/json: add omitnil option</a></td>
</tr>

<tr>
	<td><a href='https://github.com/golang/go/issues/27179'>27179</a></td>
	<td>open</td>
	<td><a href=''>lavalamp</a></td>
	<td><a href='https://github.com/golang/go/issues/27179'>encoding/json: no way to preserve the order of map keys</a></td>
</tr>

<tr>
	<td><a href='https://github.com/golang/go/issues/33835'>33835</a></td>
	<td>open</td>
	<td><a href=''>Qhesz</a></td>
	<td><a href='https://github.com/golang/go/issues/33835'>encoding/json: unmarshalling null into non-nullable golang types</a></td>
</tr>

<tr>
	<td><a href='https://github.com/golang/go/issues/22752'>22752</a></td>
	<td>open</td>
	<td><a href=''>buyology</a></td>
	<td><a href='https://github.com/golang/go/issues/22752'>proposal: encoding/json: add access to the underlying data causing UnmarshalTypeError</a></td>
</tr>

<tr>
	<td><a href='https://github.com/golang/go/issues/21823'>21823</a></td>
	<td>open</td>
	<td><a href=''>243083df</a></td>
	<td><a href='https://github.com/golang/go/issues/21823'>encoding/xml: very low performance in xml parser</a></td>
</tr>

<tr>
	<td><a href='https://github.com/golang/go/issues/28143'>28143</a></td>
	<td>open</td>
	<td><a href=''>arp242</a></td>
	<td><a href='https://github.com/golang/go/issues/28143'>proposal: encoding/json: add &#34;readonly&#34; tag</a></td>
</tr>

<tr>
	<td><a href='https://github.com/golang/go/issues/36353'>36353</a></td>
	<td>open</td>
	<td><a href=''>dsnet</a></td>
	<td><a href='https://github.com/golang/go/issues/36353'>proposal: encoding/gob: allow override type marshaling</a></td>
</tr>

<tr>
	<td><a href='https://github.com/golang/go/issues/28189'>28189</a></td>
	<td>open</td>
	<td><a href=''>adnsv</a></td>
	<td><a href='https://github.com/golang/go/issues/28189'>encoding/json: confusing errors when unmarshaling custom types</a></td>
</tr>

<tr>
	<td><a href='https://github.com/golang/go/issues/33714'>33714</a></td>
	<td>open</td>
	<td><a href=''>flimzy</a></td>
	<td><a href='https://github.com/golang/go/issues/33714'>proposal: encoding/json: Opt-in for true streaming support</a></td>
</tr>

<tr>
	<td><a href='https://github.com/golang/go/issues/7872'>7872</a></td>
	<td>open</td>
	<td><a href=''>extemporalgenome</a></td>
	<td><a href='https://github.com/golang/go/issues/7872'>encoding/json: Encoder internally buffers full output</a></td>
</tr>

</table>