div.box {
    height: 300px;
    width: 400px;
    background-color: #ee3e80;
}

p {
    height: 75%;
    width: 75%;
    background-color: #e1ddda;
}

td.descriptions {
    min-width: 450px;
    max-width: 650px;
    text-align: left;
    padding: 5px;
    margin: 0px;
}

/*
h2, p {
    width: 400px;
    font-size: 90%;
    line-height: 1.2em;
}
*/
h2 {
    color: #0088dd;
    border-bottom: 1px solid #0088dd;
}
p {
    min-height: 10px;
    overflow: scroll;
}

p.one {
    border-width: 2px;
    border-style: solid;
    overflow: auto;
    padding: 10px;
    border-radius: 10px;
}
p.two {
    border-width: thick;
    border-style: solid;
    overflow: auto;
    padding: 10px;
}

p.three {
    border-width: 1px 4px 12px 4px;
    border-style: none;
    padding: 10px;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
}

li {
    display: inline;
    margin-right: 10px;
}

li.coming-soon {
    display: none;
    visibility: visible;
}