<!DOCTYPE html>
<html>
  <head>
    <title>SkyDirver</title>
    <link rel="stylesheet" href="./test.css" type="text/css">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
  </head>
  <body>
    <h1>SkyDirver</h1>
    <table>
      <tr>
        <th class="FileName">文件名</th>
        <th class="FileCreateTime">文件创建时间</th>
        <th class="FileSize">文件大小</th>
      </tr>
      {{range $i, $e := .}}
      <tr>
        <td>
          <a href={{.Path}}>{{.Name}}</a>
        </td>
        <td>
          {{.Time}}
        </td>
        <td>
          {{if eq $e.Type 0}}
              {{.Size}}
          {{else}}
              -
        </td>
      {{end}}
      </tr>
      {{end}}
    </table>
  </body>
</html>